<div class="span4 tree">
	<ul class="treeLink">
		<li><a data-slug="none">Racine</a>
			<ul style="display:block;">
				{% for cat in category.root %}
				<li><a data-slug="{{ cat.slug }}">{{ cat.name }}</a>
				{% if cat.__children %}
				<ul>
					{% for sc in cat.__children %}
						<li class="sc"><a data-slug="{{ sc.slug }}">{{ sc.name }}</a>
						{% if sc.__children %}
						<ul>
							{% for cate in sc.__children %}
								<li class="sc"><a data-slug="{{ cate.slug }}">{{ cate.name }}</a></li>
							{% endfor %}
						</ul>
						{% endif %}
						</li>
					{% endfor %}
				</ul>
				{% endif %}
				</li>
				{% endfor %}
			</ul>
		</li>
	</ul>
</div>
<div class="dashaction offset4 span3 gclink">
	<ul>
		<li><a href="{{ path('ad_new_category') }}">Ajouter une catégorie ici</a></li>
		<li><a href="{{ path('ad_edit_category') }}">Editer la catégorie</a></li>
		<li><a href="{{ path('ad_delete_category') }}">Supprimer la catégorie</a></li>
	</ul>
</div>

{% block javascripts %}
<script type="text/javascript" src="{{ asset('bundles/adextra/js/manageCat.js') }}"></script>
{% endblock %}